extends javascript
extends shared

snippet className
	className={"${1}"}

snippet div.
	<div className="${1}">${2}</div>

snippet p.
	<p className="${1}">${2}</p>

snippet h1.
	<h1 className="${1}">${2}</h1>

snippet h2.
	<h2 className="${1}">${2}</h2>

snippet h3.
	<h3 className="${1}">${2}</h3>

snippet h4.
	<h4 className="${1}">${2}</h4>

snippet h5.
	<h5 className="${1}">${2}</h5>

snippet h6.
	<h6 className="${1}">${2}</h6>

snippet span.
	<span className="${1}">${2}</span>
